{% extends "base.html" %}

{% block content %}
  <style>
    #search-bar {
      display: flex;
      margin: 20px 10px;
    }

    #search-bar input {
      width: 100%;
      padding: 10px;
    }

    #search-bar button {
      margin-left: 15px;
    }

    .bulk-results {
      display: flex;
      flex-wrap: wrap;
    }

    .search {
      margin: 0px 10px 20px 10px;
      padding: 20px;
      background: #fafaff;
    }

    .search-header {
      height: 40px;
    }

    .search-term {
      font-weight: bold;
      color: #000;
      text-decoration: none;
    }

    .search-results {
      display: grid;
      grid-template-columns: repeat(3, 100px);
      grid-auto-rows: 60px;
      grid-gap: 20px;
    }

    .product {
      display: block;
      color: #333;
      text-decoration: none;
    }

    .product-info {
      height: 54px;
      overflow: hidden;
    }

    .product-name {
      font-size: 10px;
      margin-right: 10px;
    }
  </style>


  <form id="search-bar" action="/search">
    <input type="text" placeholder="Search.." name="search" value="{{ search_term }}">
    <input type="text" placeholder="Filter by Artist" name="artist_name" value="{{ artist_name }}">
    <input type="text" placeholder="Filter by Album" name="album_name" value="{{ album_name }}">
    <button type="submit"><i class="fa fa-search">Search</i></button>
  </form>

  <div class="bulk-results">
    {% for category, products in products_by_category %}
      <div class="search">
        <div class="search-header">
          <a class="search-term">"{{ category }}"</a>
        </div>
        <div class="search-results">
          {% for product in products %}
            <a href="product/{{ product.id }}" class="product">
              <div class="product-info">
                <span>{{ product.track_name_en }}</span>
                <span>{{ product.track_name_si }}</span>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
